.MovieItem {
    flex: 1 0 20%;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.MovieItem > img {
    flex: 1 0 24%;
    margin: 1rem;
    max-width: 12rem;
    max-height: 18rem;
}

.MovieItem .MovieOverview > p:nth-child(2) { 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.MovieItem .MovieOverview > p:nth-child(3) { 
    font-weight: bold;
}

.MovieItem .MovieOverview > p:last-child { 
    font-weight: bold;
}

.MovieItem .MovieOverview > p:last-child > span { 
    color: orange;
}


.MovieItem .MovieOverview { 
    margin-top: 0.8rem;
    flex: 1 0 20%;
    padding-left: 1rem;
}